html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  color: #045080;
  font-family: BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
  background-color: #a8f6ff;
}

.header {
  text-align: center;  
}

#splash {
  text-align: center;
}

#start {
  text-decoration: none;
  background: none;
  font-size: 25px;
  color: #045080;
  border-radius: 20px;
  border: 10px solid #045080;
}

#start:hover{
  filter: brightness(50%);
  background: #045080;
  color: #a8f6ff;
}

#game-container {
  display: flex;
  justify-content: center;
}

#end-screen {
  text-align: center;
}

.hidden {
  display: none;
}

.hidden::before {
  display: none;
}

footer {
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  height: 1.5rem;
}

.footer-link {
  text-decoration: none; 
  color: black;
}

.footer-link:hover {
  color: #045080;
}