html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /* color: #045080; */
  color: #002559;
  font-family: BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
}

.background {
  background-image: url(
    '717455-avatar-water-tribe-small-by-kellyw.jpg'
  ); 
  justify-content: center; 
  align-items: center;
  min-height: 95vh;
  width: 98vw;
  background-size: 250% 250%;
}

.header {
  text-align: center;  
}

.welcome-screen {
  text-align: center;
}

.welcome-screen > p {
  color: rgb(26, 31, 58);
  font-weight: 650;  
}

#background {
  z-index: -1;
}

.game-button {
  text-decoration: none;
  background: none;
  font-size: 25px;
  border-radius: 20px;
  border: 5px solid #002559;
  cursor: pointer;
}

.game-button:hover{
  color: #75E6DA;
  border: 5px solid #75E6DA;
}

#game-container {
  display: flex;
  justify-content: center;
}

#end-screen {
  text-align: center;
}

.hidden {
  display: none;
}

.hidden::before {
  display: none;
}

footer {
  margin-top: 10px;
  margin-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5rem;
}

.footer-link {
  text-decoration: none; 
  font-weight: 800;
}

.footer-link:hover {
  color: #75E6DA;
}