.background {
  background-color: #a8f6ff;
}

.header {
  text-align: center;  
}

#splash {
  text-align: center;
}

#start {
  text-decoration: none;
  background: none;
  font-size: 25px;
  color: #045080;
  border-radius: 20px;
  border: 10px solid #045080;
}

#start:hover{
  filter: brightness(50%);
  background: #045080;
  color: #a8f6ff;
}

#game-container {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.hidden::before {
  display: none;
}

footer {
  margin-top: 10px;
}

.footer-link {
  text-decoration: none; 
  color: black;
}

.footer-link:hover {
  color: #045080;
}